<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_asset"
                  name="Assets"
                  sequence="36"
                  web_icon="openeducat_asset_request_enterprise,static/description/icon.png"/>
        <menuitem id="menu_asset"
                  name="Assets"
                  parent="account.menu_finance"
                  sequence="4">

            <menuitem id="menu_request_asset"
                      name="Request Assets"
                      action="action_request_asset_list"
                      sequence="1"/>
            <menuitem id="menu_request_reason"
                      name="Request Reasons"
                      action="action_request_reason_list"
                      sequence="2"/>
        </menuitem>
    </data>
</odoo>
