#material_view .course_img_video iframe{
    width: 100%;
}
.oe_lms_h5p.embed-responsive{
    overflow: auto;
}
// #course-curriculum .embed-responsive-item{
//     overflow: hidden;
// }
// #course-curriculum .embed-responsive iframe{
//     top: unset;
// }
#course-curriculum .embed-responsive-item{
    overflow: auto;
}

