@mixin flex-display {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
}

@mixin align-items($align) {
  -webkit-box-align: $align;
  -webkit-align-items: $align;
  -moz-box-align: $align;
  -ms-flex-align: $align;
  -ms-grid-row-align: $align;
  align-items: $align;
}

@mixin flex($flex) {
  -webkit-box-flex: $flex;
  -webkit-flex: $flex;
  -moz-box-flex: $flex;
  -ms-flex: $flex;
  flex: $flex;
}

.o_openeducat_library_barcode_bg {
  @include flex-display();
  flex-flow: column nowrap;
  //@include justify-content(center);
  @include align-items(center);

  //@media screen and (max-width: @screen-sm-max) {
  //  background: url("/openeducat_library_barcode/static/src/img/application-switcher-bg.jpg") no-repeat center center fixed;
  //  background-size: cover;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //}
}

.o_library_barcode_clock {
    display: none;
    position: relative;
    width: 100%;
    padding: 0.5em;
    background-color: fade-out(black, 0.7);
    font: normal 1.2em $font-family-monospace;
    color: white;

    @include media-breakpoint-up(md) {
        @include o-position-absolute(20px, 20px);
        width: auto;
        padding: 3px 10px 3px 10px;
        border-radius: 3px;
        font-size: 1.5em;
    }
}

.o_openeducat_library_barcode_main {
  font-family: 'Lato', sans-serif;
  width: auto;
  text-align: center;
  background-color: #fff;
  padding: 2em;
  img {
    width: 200px;
  }
  input {
    border: 1px solid #c4c4c4;
    font-size: 19px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
  }
  input:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
  }
  //@media screen and (min-width: @screen-sm-min) {
  //  flex: 0 0 auto;
  //  width: 550px;
  //  border-radius: 10px;
  //  -webkit-border-radius: 10px;
  //  -moz-border-radius: 10px;
  //  background-color: rgba(255, 255, 255, 0.8);
  //  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  //  font-size: 1.2em;
  //  padding: 3em;
  //}
}

$o-notification-success-bg-color: #5BC236;
.o_notification_manager {
  .o_library_success {
    color: white;
    background-color: $o-notification-success-bg-color;
  }
}

.vertical_center{
   position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
