/**
 * rangecalendar.css v 1.0.2
 *
 * Copyright 2013, Libero Angelo
 * Email: angelo@afreeux.com
**/
 
.range-calendar { clear: both; overflow: hidden; width: 100%;   position: relative; -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;padding: 10px 0; background-color: transparent; }
.range-calendar.triggerable {display: none ;}
.calendar-wrapper {position: relative; left: 0;top: 0;z-index: 2; list-style: none; display: block;clear: both; overflow: hidden; padding: 10px 0;  }
.range-calendar .calendar { z-index: 1; list-style: none;float: left;margin: 0; padding:  0 ; position: relative; width: 99999px;}
.range-calendar .calendar .cell {float: left;width: 70px; padding:25px 20px; margin: 0px; border-right: 1px solid rgba(0,0,0,0.03); text-align: center; position: relative;color: #888 ;}
.range-calendar .calendar .cell .day-number {display: block;clear: both; font-weight: bold;font-size: 20px;  z-index: 1; position: relative; }
.range-calendar .calendar .cell .day {display: block;clear: both; text-transform: uppercase; width: 100%; font-weight: 100; font-size: 12px; margin-top: 0px; z-index: 1; position: relative;}
.range-calendar .calendar .cell .month { width: 100%;  font-size: 12px;z-index: 1; text-transform: uppercase; position: absolute;opacity: 1;left: 0;top: 10px;font-weight: bold;}
.range-calendar .calendar .cell .day.ferial {font-weight: bold;}
.range-calendar .calendar .cell .month.first {opacity: 1;}
.range-calendar .calendar .cell:hover { background-color: rgba(0,0,0,.0);  color: #888;  }
.range-calendar .calendar .cell:hover .day-number {}
.range-calendar .calendar .cell:hover .day{ }
.range-calendar .calendar .cell:hover .month { }
.range-calendar .calendar .cell.selected {background: transparent;color: #fff;border-right: 1px solid rgba(0, 0, 0, 0.04);}
.range-calendar .calendar .cell.selected.last {border: none !important;}
.range-calendar .calendar .cell.selected .day-number, .calendar .cell.ui-selecting .day-number { z-index: 2; position: relative;}
.range-calendar .calendar .cell.selected .month, .calendar .cell.ui-selecting .month {z-index: 2; position: relative; opacity: 1;}
.range-calendar .calendar .cell.selected .day, .calendar .cell.ui-selecting day{ z-index: 2; position: relative;}
.range-calendar .calendar .cell.selected .day.ferial, .calendar .cell.ui-selecting day.ferial{ z-index: 2; position: relative;font-weight: bold;}
.range-calendar .months { z-index: 1; list-style: none;float: left;margin: 0; padding: 0; position: relative; width: 99999px; border-bottom: 0px solid #f9f9f9; margin-bottom: 10px;}
.range-calendar.auto-hide-months .months {display: none;}
.range-calendar .months .cell {float: left;width: 105px; padding: 10px 10px; margin: 0px 0;  text-align: center; position: relative;color: #888; border-right: 0px solid rgba(0,0,0,0.03); position: relative; }
.range-calendar .months .cell .month-name { font-weight: bold;font-size: 12px;  z-index: 1; position: relative; text-transform: uppercase;}
.range-calendar .months .cell .date-formatted {font-weight: 100; font-size: 12px; }
.range-calendar .months .cell .bullet {position: absolute;left: 15px;top: 15px;height: 7px;width: 7px;background-color: #888; display: none; border-radius: 1px;}
.range-calendar .months .cell.selected {float: left;  text-align: center; position: relative;color: #fff;  background-color:#888;  }
.range-calendar .months .cell.selected .month-name {color: #fff;}
.range-calendar .months .cell.selected .date-formatted {color: #fff;}
.range-calendar .months .cell.selected .bullet { background-color: #fff; }
.range-calendar .months .cell.current .bullet {display: block;}
.range-bar {width: 210px; height: 100%; top: 0px; left: 0; position: absolute;  z-index: 1; padding: 0; margin: 0; background-image: none; z-index: 1 ; background-color: #888; }
.range-bar.resizable {height: 100%;position: absolute;}
.range-bar.range-bar-content {width: 100%; height: 100%; display: block;float: left;}
.range-bar .ui-resizable-handle.ui-resizable-e{width: 6px;height: 100%;background-position: 25px 53%;background-repeat: no-repeat;right: 0px;padding: 20px;opacity: 0.5;}
.range-calendar .ui-draggable {cursor: move;cursor: -moz-grab;cursor: -webkit-grab; }
.range-calendar .ui-draggable-dragging {cursor: -moz-grabbing;cursor: -webkit-grabbing;}

/* Default Theme */

.default-theme .months {background-color: transparent ;}
.default-theme .months .cell {color: #888 ;}
.default-theme .months .cell.selected .month-name {color: #fff ;}
.default-theme .months .cell.selected .bullet { background-color: #fff;}
.default-theme .calendar {background-color: transparent ;}
.default-theme .calendar .cell  {color: rgba(0, 0, 0, 0.4) ;}
.default-theme .calendar .cell .day-number {color: #888 ;}
.default-theme .calendar .cell:hover {background: transparent ;}
.default-theme .calendar .cell:hover .day-number{color:#888 ;}
.default-theme .calendar .cell.selected  {color: #fff;border-right: 1px solid rgba(0, 0, 0, 0.2);}
.default-theme .calendar .cell.selected:hover {background: none ;}
.default-theme .calendar .cell.selected .day-number {color: #fff ;}
.default-theme .range-bar { background-color: #888 ;}


@media only screen and (max-width: 768px) {
    
    .range-calendar .calendar .cell {width: 70px; padding:20px 15px;}
    .range-calendar .calendar .cell .day-number {font-size: 15px;}
	.range-calendar .calendar .cell .day {font-size: 8px;}

    .range-calendar .months .cell {width: 85px; padding: 10px 10px; }
    
    .range-bar .ui-resizable-handle.ui-resizable-e{width:6px;height:27px;background-position: 8px 5px;background-repeat: no-repeat; right: 0px;top: 30%; padding: 20px 10px;opacity:0.5;}

    

} 