<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="fee_management_menu_root" name="Fee Management"
                  web_icon="fee_management,static/description/icon.png">

            <menuitem name="Register Fee"
                      action="action_register_fee"
                      sequence="1"
                      id="register_fee_menu_root"/>
            <menuitem name="Course Fee"
                      action="action_student_contract"
                      sequence="2"
                      id="student_contract_menu_root"/>
            <menuitem name="Configuration" id="fee_management_config_if" sequence="3">
                <menuitem name="Entry Test Fee"
                          action="action_entry_test_fee"
                          id="entry_test_fee_menu_root"/>
                <menuitem name="Fee Quota"
                          action="action_register_fee_quota"
                          id="register_fee_quota_menu_root"/>
                <menuitem name="Installment Lines"
                          action="action_fee_installment_line"
                          id="fee_installment_line_menu_root"/>


            </menuitem>


        </menuitem>


    </data>
</odoo>